header {
    padding: 1em;
    color: white;
    background-color: #3e86d8;
    clear: left;
    text-align: center;
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
    float: right;
}


img {
    float: left;
    border-radius: 8px;
/* this is for responsive image size*/
    max-width: 100%;
    height: auto;
    /*ends here*/
    height: 400px;
    width: 400px;
    margin-right: 50px;
}